<%- include('includes/header') %>
    <%- include('includes/navbar') %>

        <div class="container">
            <div class="row">
                <div class="col-lg-8 m-auto justify-content-center mt-5">
                    <h1 class="display-5 text-center ">Agenda</h1>
                    <p class="text-center lead">Seus contatos estão abaixo</p>
                    
                    <!--messages-->
                    <%- include('includes/messages'); %>
                    
                    <div class="responsive-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Sobrenome</th>
                                    <th>Contato</th>
                                    <th>E-mail</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Mardeson</td>
                                    <td>Pereira</td>
                                    <td>99999999</td>
                                    <td>max@gmail.com</td>
                                </tr>

                                <tr>
                                    <td>Mardeson</td>
                                    <td>Pereira</td>
                                    <td>99999999</td>
                                    <td>max@gmail.com</td>
                                </tr>

                                <tr>
                                    <td>Mardeson</td>
                                    <td>Pereira</td>
                                    <td>99999999</td>
                                    <td>max@gmail.com</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>


        <%- include('includes/footer') %>